# Files imported from https://www.football-data.co.uk/francem.php

# Folder where raw files are stored after loading
# name of different files: ligue1_{year1}_{year2}
# example: for season 2014/2015 -> ligue1_2014_2015
raw_dir: 'data/raw'


# --------------------------------------------------------------------------------------------------------------------------------------------------------------
# 1) Cleaning
# The aim of this section is to aggregate the raw imported dataframes into cleaned dataframes with the following columns:
# - a date column, with the date of the match
# - a season column, with the season of the match, under the format 'year1/year2' (e.g. '2012/2013')
# - a home and an away column, with the teams involved in the match
# - a columns indicating the number of goals scored by the home team, same for the away team
# - a categorical column indicating the final result of the match ('home' for home team victory, 'away' for away team victory, or 'draw')


# Imported data information
# first_date_first_season: for example, if the first imported season is 2014/1015, specify 2014
# last_date_last_season: for example, if the last imported season is 2019/2020, specify 2020
first_date_first_season: 2010
last_date_last_season: 2025

# Cleaned columns specification
date_column: 'date'
season_column: 'season'
home_column: 'home'
away_column: 'away'
nb_goals_home_column: 'nb_goals_home'
nb_goals_away_column: 'nb_goals_away'
final_result_column: 'final_result'

# Dir to store dataframes after cleaning
cleaned_dir: 'data/cleaned'
cleaned_train_df_name: 'cleaned_df_train'
cleaned_test_df_name: 'cleaned_df_test'


# -------------------------------------------------------------------------------------------------------------------------------------------------------------
# 2) Preprocessing
# The aim of this section is to create new columns necessary based on data we had at our disposal after cleaning
# - columns with betting odds for home team victory, away team victory or draws, which are the averages of odds for all bookmakers
# - current seasons indicators, based on the match season only: number of points, goals scored, goals conceded, goal difference, general ranking, attack and defense rankings,...
# - absolute recent form indicators: indicators based on the last matches of a same season, regardless of the teams played against
# - absolute historical form indicators: indicators based on the whole data
# - relative recent form indicators: indicators based on the last matches played against the same team
# - strict relative recent form indicators: same than previous category, but with the order home / away taken into consideration
# - external factors which could impact a match issue (experience in the championship, promoted status or not,...)


# Odd indicators
odd_home_column: 'odd_home'
odd_away_column: 'odd_away'
odd_draw_column: 'odd_draw'

# Current season indicators
nb_points_home_team: 'current_season_points_home_team'
nb_points_away_team: 'current_season_points_away_team'

general_ranking_home_team: 'current_season_general_ranking_home_team'
general_ranking_away_team: 'current_season_general_ranking_away_team'

nb_goals_scored_home_team: 'current_season_nb_goals_scored_home_team'
nb_goals_scored_away_team: 'current_season_nb_goals_scored_away_team'

nb_goals_conceded_home_team: 'current_season_nb_goals_conceded_home_team'
nb_goals_conceded_away_team: 'current_season_nb_goals_conceded_away_team'

goal_difference_home_team: 'current_season_goal_difference_home_team'
goal_difference_away_team: 'current_season_goal_difference_away_team'

attack_ranking_home_team: 'current_season_attack_ranking_home_team'
attack_ranking_away_team: 'current_season_attack_ranking_away_team'

defense_ranking_home_team: 'current_season_defense_ranking_home_team'
defense_ranking_away_team: 'current_season_defense_ranking_away_team'

nb_points_home_team_at_home: 'current_season_nb_points_home_team_at_home'
nb_points_away_team_away: 'current_season_nb_points_away_team_away'

home_team_ranking_at_home: 'current_season_home_team_ranking_at_home'
away_team_ranking_away: 'current_season_away_team_ranking_away'

nb_goals_scored_home_team_at_home: 'current_season_nb_goals_scored_home_team_at_home'
nb_goals_scored_away_team_away: 'current_season_nb_goals_scored_away_team_away'

nb_goals_conceded_home_team_at_home: 'current_season_nb_goals_conceded_home_team_at_home'
nb_goals_conceded_away_team_away: 'current_season_nb_goals_conceded_away_team_away'

# Absolute recent form indicators
abs_max_matches: 5

abs_recent_nb_points_by_match_home_team: 'abs_recent_nb_points_by_match_home_team'
abs_recent_nb_points_by_match_away_team: 'abs_recent_nb_points_by_match_away_team'

abs_recent_nb_goals_scored_by_match_home_team: 'abs_recent_nb_goals_scored_by_match_home_team'
abs_recent_nb_goals_scored_by_match_away_team: 'abs_recent_nb_goals_scored_by_match_away_team'

abs_recent_nb_goals_conceded_by_match_home_team: 'abs_recent_nb_goals_conceded_by_match_home_team'
abs_recent_nb_goals_conceded_by_match_away_team: 'abs_recent_nb_goals_conceded_by_match_away_team'

abs_recent_goal_difference_home_team: 'abs_recent_goal_difference_home_team'
abs_recent_goal_difference_away_team: 'abs_recent_goal_difference_away_team'

abs_recent_ranking_home_team: 'abs_recent_ranking_home_team'
abs_recent_ranking_away_team: 'abs_recent_ranking_away_team'

# Absolute historical form indicators
abs_hist_nb_points_by_season_home_team: 'abs_hist_nb_points_by_season_home_team'
abs_hist_nb_points_by_season_away_team: 'abs_hist_nb_points_by_season_away_team'

abs_hist_nb_goals_scored_by_season_home_team: 'abs_hist_nb_goals_scored_by_season_home_team'
abs_hist_nb_goals_scored_by_season_away_team: 'abs_hist_nb_goals_scored_by_season_away_team'

abs_hist_nb_goals_conceded_by_season_home_team: 'abs_hist_nb_goals_conceded_by_season_home_team'
abs_hist_nb_goals_conceded_by_season_away_team: 'abs_hist_nb_goals_conceded_by_season_away_team'

abs_hist_ranking_by_season_home_team: 'abs_hist_ranking_by_season_home_team'
abs_hist_ranking_by_season_away_team: 'abs_hist_ranking_by_season_away_team'

# Relative recent form indicators
rel_max_matches: 5

rel_recent_nb_points_by_match_home_team: 'rel_recent_nb_points_by_match_home_team'
rel_recent_nb_points_by_match_away_team: 'rel_recent_nb_points_by_match_away_team'

rel_recent_nb_goals_scored_by_match_home_team: 'rel_recent_nb_goals_scored_by_match_home_team'
rel_recent_nb_goals_scored_by_match_away_team: 'rel_recent_nb_goals_scored_by_match_away_team'

rel_recent_nb_goals_conceded_by_match_home_team: 'rel_recent_nb_goals_conceded_by_match_home_team'
rel_recent_nb_goals_conceded_by_match_away_team: 'rel_recent_nb_goals_conceded_by_match_away_team'

rel_recent_goal_difference_home_team: 'rel_recent_goal_difference_home_team'
rel_recent_goal_difference_away_team: 'rel_recent_goal_difference_away_team'

rel_percentage_victory_home_team: 'rel_recent_percentage_victory_home_team'
rel_percentage_victory_away_team: 'rel_recent_percentage_victory_away_team'

# Strict relative recent form indicators
strict_rel_max_matches: 5

strict_rel_recent_nb_points_by_match_home_team: 'strict_rel_recent_nb_points_by_match_home_team'
strict_rel_recent_nb_points_by_match_away_team: 'strict_rel_recent_nb_points_by_match_away_team'

strict_rel_recent_nb_goals_scored_by_match_home_team: 'strict_rel_recent_nb_goals_scored_by_match_home_team'
strict_rel_recent_nb_goals_scored_by_match_away_team: 'strict_rel_recent_nb_goals_scored_by_match_away_team'

strict_rel_recent_nb_goals_conceded_by_match_home_team: 'strict_rel_recent_nb_goals_conceded_by_match_home_team'
strict_rel_recent_nb_goals_conceded_by_match_away_team: 'strict_rel_recent_nb_goals_conceded_by_match_away_team'

strict_rel_recent_goal_difference_home_team: 'strict_rel_recent_goal_difference_home_team'
strict_rel_recent_goal_difference_away_team: 'strict_rel_recent_goal_difference_away_team'

strict_rel_percentage_victory_home_team: 'strict_rel_recent_percentage_victory_home_team'
strict_rel_percentage_victory_away_team: 'strict_rel_recent_percentage_victory_away_team'

# External factors
hist_nb_seasons_l1_home_team: 'hist_nb_seasons_l1_home_team'
hist_nb_seasons_l1_away_team: 'hist_nb_seasons_l1_away_team'

promoted_home_team: 'promoted_home_team'
promoted_away_team: 'promoted_away_team'
# TODO
# european_matches_home_team: 'european_matches_home_team'
# european_matches_away_team: 'european_matches_away_team'
# travel_distance_away_team: 'travel_distance_away_team'

# Dir to store dataframes after preprocessing
preprocessed_dir: 'data/preprocessed'
preprocessed_train_df_name: 'preprocessed_df_train'
preprocessed_test_df_name: 'preprocessed_df_test'


# -------------------------------------------------------------------------------------------------------------------------------------------------------------
# 4a) Primary model
# Primary model is the prediction of the final result (home / draw / away)
# The aim of this section is to define parameters needed for modeling (related to notebook 4a)
# Three classifiers are tested: logistic regression, random forest, XGBoost

# Grid Search hyperparameter grids
# Logistic regression
param_grid_lr:
    penalty: ['l2', 'l1', 'elasticnet']
    C: [0.01, 0.1, 1, 5, 10]
    l1_ratio: [0.0, 0.15, 0.5]
    class_weight: [None, 'balanced']

# Primary Random forest
param_grid_primary_rf:
    n_estimators: [100, 300, 600]
    max_depth: [None, 6, 10, 20]
    min_samples_split: [2, 5, 10]
    min_samples_leaf: [1, 2, 4]
    max_features: ['sqrt', 'log2', 0.5]
    class_weight: [None, 'balanced']

# Secondary Random forest
param_grid_secondary_rf:
    n_estimators: [100, 300, 600]
    max_depth: [None, 6, 10, 20]
    min_samples_split: [2, 5, 10]
    min_samples_leaf: [1, 2, 4]
    max_features: ['sqrt', 'log2', 0.5]

# XGBoost
param_grid_xgb:
    n_estimators: [100, 300, 600]
    max_depth: [3, 5, 10]
    learning_rate: [0.01, 0.05, 0.1]
    #subsample: [0.6, 0.8, 1.0]
    #colsample_bytree: [0.5, 0.8, 1.0]
    reg_alpha: [0, 0.5, 1]
    reg_lambda: [1, 3, 5]

# Poisson
param_grid_poisson:
    alpha: [0.0, 0.01, 0.1, 1.0, 5.0, 10.0]    
    fit_intercept: [True, False]


# Models export
primary_models_dir: 'models/primary'
secondary_models_dir: 'models/secondary'